<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <header>
        <h2>Llena el formulario para registrarte y disfrutar de la plataforma y sus beneficios</h2>
    </header>
    <nav>
        <ul>
            <li><a href="../">Inicio</a></li>
          </ul>
    </nav>
    <form>
        <label>Nombre: </label><input type="text" required><br>
        <label>Apellidos: </label><input type="text" required><br>
        <label>e-mail: </label><input type="email" required><br>
        <label>Telefono: </label><input type="telephone" required><br>
        <label>Usuario: </label><input type="text" required><br>
        <label>Contraseña: </label><input type="password" required><br>
        <label>Confirmar contraseña: </label><input type="password" required><br>
        <button>Registrarme</button>
    </form>
    <div>
        <p>
            Si ya tienes una cuenta <a href="./login.html">Inica sesión</a>
        </p>
    </div>
    <footer>
            <p>Copyright © 2024, Todos los derechos reservados.</p>
    </footer>
</body>
</html>